*{
    margin: 0;
    padding: 0;
  }
  
  html , body, #root, .App{
    min-height: 100%;
  }
  body{
    margin: 0px;
    padding: 0px;
}
.navbar1{
    height: 50px;
    width: 100%;
    background-color:  #28b293;
    float: left;
}
.nav_list_iteam li{
    list-style-type: none;
    display: inline;
    font-size: 17px;
}
.nav_login li{
    list-style-type: none;
    display: inline;
}
.home li{
    list-style-type: none;
    display: inline;
    
}
.house{
    background-color: #28b293;
    padding:10px;
    color: white;
}
.heart_eye{
    list-style-type: none;
}
.vikas3:hover{
color: red;
}
.input_bar{
    width: 100%;
    height: 52px;
    background-color:white;
    border: 1px solid 
    #c1c9d0;
    margin-top: 25px;
}
.drop1:hover{
color: red;
}
.input_bar2{
    height: 40px;
    width: 100%;
    background-color: white;
    border: 1px solid #ced4da;
}

/* product category section  */
.product_category:hover{
transform: scale(1.1);
border-radius: 20px;

}
/* new_arrival  */
.new_arrival:hover{
    transform: scale(1.1);
border-radius: 20px;
/* border: 2px solid black;
box-sizing: border-box; */

}  
